@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-logo {
  color: #5f0609;
  /* -webkit-text-stroke: 1px #ac7612; */
  text-shadow: -1px -1px 0 #ac7612, 0 -1px 0 #ac7612, 1px -1px 0 #ac7612,
    1px 0 0 #ac7612, 1px 1px 0 #ac7612, 0 1px 0 #ac7612, -1px 1px 0 #ac7612,
    -1px 0 0 #ac7612;
}

.backgroundImage {
  background-image: url("../assets/curry.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  background-color: #1f2937;
}
